#input {
	float: left;
	width: 48%;
}

#outline {
	float: right;
	width: 48%;
}

#input_options {
	text-align: right;
}

button {
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 0;
}

div.options {
	margin: 1em 0 1em 0;
}

textarea {
	width: 100%;
	height: 200px;
	resize: vertical;
}

input[type="text"] {
	width: 100%;
	margin-bottom: 1em;
}

p.option {
	margin: 0;
}

input[type="checkbox"] {
	margin-right: 1ex;
}

span.error_caret {
	background-color: #BBB;
}

p.error {
	white-space: pre-wrap;
}

ol {
	padding-left: 25px;
}

#output > ol {
	padding-left: 0;
}

ol.outline {
	list-style-type: none;
}

ol.outline.shadow {
	border-left: 1px solid gray;
	margin: 2px;
	padding-left: 10px;
}

span.sec_number {
	display: inline;
	font-weight: bold;
	padding-right: 1ex;
}

span.sec_prefix {
	display: none;
}

#output[data-numbering="0"] span.sec_number {
	display: none;
}

#output[data-numbering="2"] span.sec_prefix {
	display: inline;
}

li.root {
	display: none;
}

#output.show_roots li.root {
	display: block;
}

li.root > span {
	color: gray;
	font-variant: small-caps;
}

span.no_title {
	font-style: italic;
}

span.details {
	display: none;
	color: gray;
	padding-left: 1ex;
}

#output.show_elements span.details {
	display: inline;
}

