#input {
	float: left;
	width: 48%;
}

#outline {
	float: right;
	width: 48%;
}

button {
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 0;
}

textarea {
	width: 100%;
	height: 200px;
	resize: vertical;
}

input[type="text"] {
	width: 100%;
	margin-bottom: 1em;
}

p.option {
	margin: 0;
}

input[type="checkbox"] {
	margin-right: 1ex;
}

span.error_caret {
	background-color: #BBB;
}

p.error {
	white-space: pre-wrap;
}

ol {
	padding-left: 25px;
}

#output > ol {
	padding-left: 0;
}

ol.outline {
	counter-reset: numsection;
	list-style-type: none;
}

ol.outline > li {
	counter-increment: numsection;
}

span.sec_title::before {
	content: counters(numsection, ".") ". ";
	font-weight: bold;
}

span.no_title {
	font-style: italic;
}

span.details {
	visibility: hidden;
	color: gray;
	padding-left: 1ex;
}

ol.outline:hover span.details {
	visibility: visible;
}

